h1 {
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}

.title {
    width: 400px;
    height: 50px;
    margin: 0 auto;
}

.content {
    background: #EAEAEA;
    padding-top: 10px;
    padding-bottom: 10px;
    height: 100%;
}

.post1 {
    width: 450px;
    height: 100%;
    margin: 0 auto;
}


/* POST */

* {
    font-family: 'Poppins', sans-serif;
}

.post {
    position: relative;
    width: auto;
    height: auto;
    margin-bottom: 20px;
}

.postImage {
    background: white;
    display: flex;
    justify-content: center;
}

.postImage img {
    max-width: 400px;
    max-height: 500px;
}

.postHeader {
    background: white;
    border-bottom: 1px solid #EAEAEA;
    display: flex;
    padding: 2px 10px 2px 10px
}

.postHeader strong {
    width: 50%;
    font-size: 12px;
    padding-top: 5px
}

.postHeader p {
    width: 50%;
    text-align: right;
    font-size: 8px;
    color: #c7c5c5;
}

.postDescription {
    width: 100%;
    bottom: 0;
    position: absolute;
    background: white;
}

.postDescription p {
    font-size: 10px;
    padding: 3px 10px;
}